<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="main">
        <img class="main-ele elem-top" src="/images/a11.svg" >
        <img class="main-ele elem-bottom" src="/images/a12.svg" >
        <img class="brain-img" src="/images/brain.svg" alt="">
        <div class="card">
            <img class="card-logo" src="/images/logo.png">            
            <img class="card-img" src="/images/i1.png">
            <p>Hi! Are you currently preparing for a big exam or working hard towards a life goal that demands your full dedication?</p>
            <div class="buttons">
                <button class="prev-btn btn-click-anim">prev</button>
                <button class="next-btn btn-click-anim">next</button>
                <button class="gt-start btn-click-anim">Get Started</button>
            </div>
        </div>
    </div>
    <script src="/javascripts/script.js"></script>
</body>
</html>